{% extends "paginasBlog/plantillaPadre.html" %}
{%load static%}

{% block title %} BLOG {%endblock %}

{%block content%}
{%load static%}


<div class="container">
    <div class="form-group row">
      <div class="col-xs-6">
      </div>
      <div class="col-xs-2">
          <form class="row g-3">
              <div class="col-auto">
                  <select class="form-control input-solid" name="categoria" >
                  <option></option>
                    {% for categoria in categorias %}
                  <option>{{categoria.nombre}}</option>
                    {% endfor %}
                  </select>
              </div>
              <div class="col-auto" >
                 <button type="submit" class="btn btn-success" value="Click Me" style="float: right;">
                 <span class="glyphicon glyphicon-search"></span> Filtrar
                 </button>
              </div>
           </form>
      </div>


      <div class="col-xs-4">
           <form class="row g-6">
               <div class="col-auto">
                    <input type="text" class="form-control"  placeholder="Buscar..." name="buscar">
               </div>
               <div class="col-auto" >
                    <button type="submit" class="btn btn-success" value="Click Me" style="float: right;">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                    </button>
               </div>
           </form><br>

      </div>
    </div>
</div>


<div class="container">

  <div class="panel panel-default">
         <div class="panel-heading">
             <h1 id="titulo" align="center" >BLOG "Senderos"</h1>
         </div>

         <div class="panel-body">
        <section>
        <article class="post">
    {% for post in posts %}
      <h2 align="center">{{post.titulo}}</h2>
      <p>{{post.resumen}}</p>
      <p>{{post.texto}}</p>
    <div class="img-container">
        <img  src='static/{{post.imagen}}'  width="50%" />
    </div>
    <p align="center">Creado: {{post.fecha_creacion}}/ Autor: {{post.usuario}}</p>
  {%endfor%}
        </article>
    </section>
    <footer>
      <div class="panel-footer">
           <a href="#titulo">Ir al comienzo</a><br>
        <a href="/formularioContacto/">Contactame aqui</a>
        <p>Copirigth 2022</p>
      </div>
    </footer>

{%endblock%}